<!DOCTYPE html>
<body>
<head>
    <meta charset="UTF-8">
    <title>My WebSocket Test</title>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
          integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css"
          integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
            integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>
Welcome
<br />
<div id="message"></div>
<table>
    <tr>
        <tb>
            <th> 用户名
                <input id="userName" type="text" name="用户名" />
            </th>
        </tb>
        <tb>
            <th> 消息
                <input id="inputContent" type="text" />
            </th>
        </tb>

    </tr>
</table>
<button class="btn btn-primary" onclick="send()">Send</button>
<!--<button class="btn btn-primary" onclick="login()">login</button>-->
<!--<button class="btn btn-danger" onclick="closeWebSocket()">Close</button>-->
<script type="text/javascript">
	var websocket = null;

//声明自己搭建的websocket服务
if ('WebSocket' in window) {
	var userName = getQueryVariable("userName");
	websocket = new WebSocket("ws://localhost:8086/api/websocket/" + userName);
} else {
	alert('Not support websocket')
}

//连接发生错误的回调方法
websocket.onerror = function() {
	setMessageInnerHTML("error");
};

//连接成功建立的回调方法
websocket.onopen = function(event) {
	setMessageInnerHTML("open");
}

//接收到消息的回调方法
websocket.onmessage = function(event) {
	setMessageInnerHTML(event.data);
}

//连接关闭的回调方法
websocket.onclose = function() {
	setMessageInnerHTML("close");
}

//监听窗口关闭事件，当窗口关闭时关闭对应websocket连接
window.onbeforeunload = function() {
	websocket.close();
}

//将消息回显在页面上
function setMessageInnerHTML(innerHTML) {
	document.getElementById('message').innerHTML += innerHTML + '<br/>';
}

//关闭连接
function closeConnection() {
	websocket.close();
}

//发送消息
function send() {
	var msg = document.getElementById('inputContent').value;
	var userName = document.getElementById('userName').value;
	$.ajax({
		type: "POST",
		dataType: "json",
		url: '/msg/push',
		contentType: "application/json",
		data: JSON.stringify({
			"userName": userName,
			"msg": msg
		}),
		success: function(result) {
			console.log("data is :" + result)
			if (result.code != 0) {
				alert(result.data)
			}
		}
	});
}

function getQueryVariable(variable) {
	var query = window.location.search.substring(1);
	var vars = query.split("&");
	for (var i = 0; i < vars.length; i++) {
		var pair = vars[i].split("=");
		if (pair[0] == variable) {
			return pair[1];
		}
	}
	return (false);
}
</script>
</body>
</html>